@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/* acceuil */
.acceuil{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 76px;
    height: 100vh;
    background-image: url(./../images/acceuil.webp);
    color: white;
}

.acceuil p:first-of-type{
    font-size: 3em;
    font-style: italic;
    margin-top: 160px;
    text-align: center;
    font-family: "Roboto Slab";
}

.acceuil p:last-of-type{
    font-size: 4em;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 0;
    text-align: center;
    font-family: "Montserrat";
}

.acceuil button {
    width: 190px;
    height: 60px;
    border-radius: 30px;
    background-color: #D9AA00;
}

.acceuil button,input[type="submit"]{
    transition: 200ms;
    font-size: 1em;
}

.acceuil button:hover ,input[type="submit"]:hover{
    box-shadow: 5px 5px 5px white;
    cursor: pointer;
}
.acceuil button:active ,input[type="submit"]:active{
    box-shadow: 2px 2px 5px white;
}

.acceuil button a{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}

.acceuil div a:hover{
    color: white;
    text-decoration: underline;
}


/* services */
.header-service{
    background-color: #F8F9FA;
    margin: 0;
    padding-top: 70px;
}

.service{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 90px;
    flex-wrap: wrap;
    row-gap: 20px;
    background-color: #F8F9FA;
}

h1{
    text-align: center;
    font-family: "Montserrat";
    font-size: 3rem;
}

.service div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25vw;
    height: 300px;
    /* border-radius: 15px; */
    overflow: hidden;
    background-size: 100% 100%;
    box-shadow: 2px 0px 5px black;
    
}

.service .one{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.5);
    color: rgba(255, 255, 255,1);
    font-size: 1.2em;
    right: -100%;
    transition: 400ms;
}

.service a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    transition: 500ms;
    text-decoration: none;
}

.service a:hover .one{
    /* opacity: 0; */
    right: 0;
}

.service a p{
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    color:  #212529;
    font-family: "Montserrat";
    text-align: center;
    line-height: 30px;
    /* text-shadow: 5px 5px 5px black; */
}

.service a:nth-child(1) div{
    background-image: url(./../images/infographie.jpg);
}

.service a:nth-child(2) div{
    background-image: url(./../images/database.jpeg);
}

.service a:nth-child(3) div{
    background-image: url(./../images/sponsor.webp);
}

.service a:nth-child(4) div{
    background-image: url(./../images/organisation-devenement.webp);
}

.service a:nth-child(5) div{
    background-image: url(./../images/benevolat.webp);
}

.service a:nth-child(6) div{
    background-image: url(./../images/site-web.webp);
    background-size: cover;
}

.service a:nth-child(7) div{
    background-image: url(./../images/application.webp);
}

.service a:nth-child(8) div{
    background-image: url(./../images/montage-video.webp);
}

.service a:nth-child(9) div{
    background-image: url(./../images/power-point.avif);
}

.service p{
    color: #D9AA00;
    
}

/* equipe */
.anim{
    display: flex;
}

.equipe{
    overflow-x: hidden;
}

@keyframes carousel {
    from{
        transform: translateX(0);
    }
    
    to{
        transform: translateX(-1000%);
    }
}

.equipe figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: carousel linear 50s infinite alternate;
}

.equipe figure img{
    border-radius: 50%;
    border: 0.5rem solid #DFE0E1;
    width: 224px;
    height: 224px;
    box-shadow: 2px 0px 5px black;
}

.equipe figcaption{
    text-align: center;
}

.equipe .nom{
    font-size: 1.275rem;
    font-family: "Montserrat";
    font-weight: 700;
    line-height: 1.2;
}

.equipe .poste{
    color: #6c757d !important;
}

/* footer */
footer{
    background-image: url(./../images/map-image.png);
    height: 100vh;
    z-index: 10;
    background-color: #212529;
    padding: 100px;
}

footer h1{
    color: white;
}

footer .form{
    display: flex;
    /* flex-wrap: wrap; */
}

.inputs-contain input,.inputs-contain textarea{
    display: block;
    margin: 10px;
}

footer input{
    width: 40vw;
    height: 10vh;
    border-radius: 10px;
    font-size: 1.4rem;
}

footer input:first-child{
    margin-top: 0;
}

footer textarea{
    width: 40vw;
    height: 37vh;
    resize: none;
    margin-bottom: 0;
    padding-bottom: 0;
    border-radius: 10px;
    font-size: 1.2rem;
}

footer input::placeholder,footer textarea::placeholder{
    color: rgb(128, 128, 128,0.5);
    font-weight: bold;
    font-size: 1.4rem;
}

form iframe{
    border-radius: 10px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 90%; */
}

input[type="submit"]{
    width: 230px;
    height: 60px;
    margin-top: 50px;
    border-radius: 30px;
    background-color: #D9AA00;
    color: white;
}

.contact-link{
    display: flex;
    justify-content: space-between;
    font-family: "Montserrat";
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    font-size: large;
}

.contact-link div:nth-of-type(2) a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #212529;
    border-radius: 50%;
    margin: 5px;
}

.contact-link div:nth-of-type(2) a:hover{
    opacity: 0.8;
}

.fa-brands,.fa{
    color: white;
}

.contact-link div:nth-of-type(2) a:hover .fa-whatsapp{
    color: rgb(44, 230, 20);
}

.contact-link div:nth-of-type(2) a:hover .fa-facebook{
    color: blue;
}

.contact-link div:nth-of-type(2) a:hover .fa-twitter{
    color: #00ACEE;
}

.contact-link div:nth-of-type(2) a:hover .fa-linkedin{
    color: rgb(18, 23, 73);
}

.contact-link div:nth-of-type(2) a:hover .fa-instagram{
    color: #8A3AB9;
}

.contact-link div:nth-of-type(2) a:hover .fa-envelope{
    color: salmon;
}


.contact-link div:last-of-type a{
    display: inline-block;
    text-align: center;
    margin: 15px;
    text-decoration: none;
    color: black;
}

@media screen and (max-width:768px) {
    .acceuil p:last-of-type{
        font-size: 3em;
    }
    
    .acceuil{
        height: auto;
    }

    .acceuil button{
        margin-bottom: 30px;
    }
    
    footer{
        height: auto;
    }

    .inputs-contain input,.inputs-contain textarea{
        margin: 0;
        margin: 10px 0;
    }
    
    iframe ,.inputs-contain,footer input,footer textarea{
        width: 90vw;
        margin: 0;
    }
    
    .contact-link div:nth-of-type(2) a{
        background-color: unset;
        font-size: 2em;
        text-decoration: none;
    }
    
    .contact-link{
        width: 100%;
    }
    .contact-link div:last-of-type a,.contact-link div{
        color: white;
    }
    
    .contact-link div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    footer .form{
        flex-direction: column;
    }
}

@media screen and (max-width:425px) {
    .service{
        flex-direction: column;
    }

    .service div{
        width: 240px;
        height: 160px;
    }
}

@media screen and (max-width:375px) {
.service{
    padding: 0;
}

    .service div p{
        font-size: 1.2em;
    }

    .acceuil p:first-of-type{
        font-size: 1.5em;
    }

    .acceuil p:last-of-type{
        font-size: 2em;
    }

    .acceuil button{
        width: 90px;
        height: 30px;
        margin-bottom: 30px;
    }

    .acceuil button a{
        font-size: 1.2em;
    }

    h1{
        font-size: 1.5em;
    }
}

h1,h2,img,.service div,.acceuil p{
    animation: reveal;
    animation-timeline: view();
    animation-range-end: 50%;
}

.acceuil p:first-of-type{
    animation: comme-left 3s;
}

.acceuil p:last-of-type{
    animation: comme-rigth 4s;
}

@keyframes reveal {
    from{
        transform: scale(0);
        opacity: 0;
    }

    to{
        transform: scale(1);
        opacity: 1 ;
    }
}

@keyframes comme-left {
    from{
        transform: scale(0) translateX(-1000px);
        opacity: 0;
    }

    to{
        transform: scale(1) translateX(0);
        opacity: 1;
    }
}

@keyframes comme-rigth {
    from{
        transform: scale(0) translateX(1000px);
        opacity: 0;
    }

    to{
        transform: scale(1) translateX(0);
        opacity: 1;
    }
}